.main {
    &.grid {
        height: 100%;
        background-color: #1b1b1b;
        color: orange;

         /* Column Styles */
         .money {
             text-align: right;
         }
         /* Grid Styles */
         .slick-header-columns {
             height:40px;
             background-color: #121212; 

         }
        .slick-header-column.ui-state-default {
            font-size: 18px;
            line-height: 30px;
            font-weight: bold;
            font-style: normal;
            height:40px;
            border: 0px;
            text-align: center;
        }

        .slick-row.ui-widget-content, .slick-row.ui-state-active {
            font-size: 16px;
            line-height: 40px;            
            color: #808080;
        }

        .slick-cell {
            border: 0px;
            padding: 0px 8px;
        }

        .slick-row.even {   
            background-color: #121212; 

        }

        .slick-headerrow-column {
            border: 0px;
            padding: 0px;                

            input {
                width: 100%;
                height: 100%;
                color: white;
                border: 0px;
                background-color: transparent;
            }
            input:focus {
                outline-color: orange;
            }
        }

        /* Filter Styles */

        .iconFilterOn {
            width: 11px;
            height: 10px;
            background: url('/images/iconFilterOn.png') no-repeat;
            position: absolute;
            top: 4px;
            right: 4px;
            margin-top: 3px;
            cursor: pointer;
        }

        .iconFilterOff {
            width: 11px;
            height: 10px;
            background: url('/images/iconFilterOff.png') no-repeat;
            position: absolute;
            top: 4px;
            right: 4px;
            margin-top: 2px;
            cursor: pointer;
        }

        /* Scrollbar Styles*/
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track-piece  {
             background-color: #1b1b1b;
        }

        ::-webkit-scrollbar-thumb:vertical {
            height: 50px;
            background-color: #808080;
        }

        ::-webkit-scrollbar-thumb:horizontal {
            width: 50px;
            background-color: #808080;
        }
        ::-webkit-scrollbar-corner {
             background-color: #1b1b1b;
        }
    }
}



.slick-filter-popup {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 271px;
}

.numberFilter {
    padding: 10px 7px 5px 7px;
}
.numberFilter {
    background: #090909;
    border: 1px solid #00ffae;
    color:  #c0c0c0;
}

.numberFilterBox {
    border: 1px solid #c0c0c0;
}

.listFilter {
    background: #090909;
    border: 1px solid #00ffae;
    color:  #c0c0c0;
}

.listFilterBox {
    border: 1px solid #c0c0c0;
}

.button {
    color: #8d8d8d;
    background: #1d1d1d;
    border: 1px solid #4d4d4d;
}

.button:hover:enabled {
    cursor: pointer;
    border: 1px solid #c0c0c0;
}

.button:active:enabled {
    color: #000;
    background: #ffa800;
}

.numberFilterBox {
    padding: 5px 10px;
    margin: 5px;
}

.listFilter {
    padding: 10px 7px 5px 7px;
}

.listFilterBox {
    padding: 5px 10px;
    margin: 5px;
    height: 200px;
    overflow-y: auto;
}


.iconArrowLeft {
    width: 11px;
    height: 13px;
    background: url('/images/iconArrow.png') no-repeat;
    position: absolute;
    top: 5px;
    left: -6px;
}

.iconArrowRight {
    width: 11px;
    height: 13px;
    background: url('/images/iconArrow.png') no-repeat;
    position: absolute;
    top: 5px;
    right:-7px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}