<div id="main_template">
    <div data-class="main-treemap" style="width:800px;height:600px;"></div>
    <div>
        Add a new node: <button data-bind="click: addNode">Add Node</button>
    </div>
    <div>
        Remove a node: <button data-bind="click: removeNode">Remove Node</button>
    </div>
    <div>
        Add Time. <button data-bind="click: addTime">Add Time</button>
    </div>
</div>

<div id="node_tip_template">
    <span data-bind="text: name"></span>
</div>

<div id="song_template">
    Song: <span data-bind="text: name"></span>
</div>
