html, body {
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}

.tiles-container {
    padding: 3px 100px 3px 3px;
    position: relative;
}

.main {
    &.layout {
        display: -ms-grid;
        -ms-grid-columns: 20px 1fr;
        -ms-grid-rows: auto 1fr;
        height: 100%;
        width: 100%;
    }
    &.header {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        height: 70px;
    }
    &.panorama {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    &.home {
        padding-right: 100px
    }
}

.metro .tile {
    div {
        color: white;
        font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif !important;
    }

    .medium {
        .header {
            width: 100%;
            height: 15px;
            position: absolute;
            background-color: black;
            line-height: 1px;

            label {
                font-size: 10px;
                right: 5px;
            }
        }

        .actual {
            position: absolute;
            top: 10px;
            left: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 35px;
                margin-top: -10px;
            }
        }

        .percentage {
            position: absolute;
            top: 10px;
            right: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 35px;
                margin-top: -10px;
            }
        }

        .capacity {
            position: absolute;
            bottom: 20px;
            left: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 25px;
                margin-top: -10px;
            }
        }

        .limit {
            position: absolute;
            bottom: 20px;
            right: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 25px;
                margin-top: -10px;
            }
        }
    }

    .large {
        .header {
            width: 100%;
            height: 15px;
            position: absolute;
            background-color: black;
            line-height: 1px;

            label {
                font-size: 10px;
                right: 5px;
            }
        }

        .actual {
            position: absolute;
            top: 10px;
            left: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 45px;
                margin-top: -15px;
            }
        }

        .limit {
            position: absolute;
            bottom: 140px;
            left: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 40px;
                margin-top: -15px;
            }
        }

        .capacity {
            position: absolute;
            top: 125px;
            left: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 40px;
                margin-top: -15px;
            }
        }

        .percentage {
            position: absolute;
            bottom: 0px;
            left: 5px;

            >label {
                font-size: 10px;
            }

            >div {
                font-size: 70px;
                margin-top: -25px;
            }
        }
    }

    .square {
        font-size: 65px;
        margin: -15px 3px;
    }

    .mini {
        font-size: 30px;
        margin: -5px 3px;
    }

    &.medium {
        .bar {
            background-color: white;
            opacity: .75;
            height: 10px;
            position: absolute;
            bottom: 6px;
        }

        .brandDarken {
            height: 10px;
            position: absolute;
            bottom: 6px;
            width: 100%;
        }
    }
    &.large {
        .brand {
            height:90%;
        }
        .bar {
            background-color: white;
            opacity: .75;
            width: 50px;
            position: absolute;
            bottom: 0px;
            right: 20px;
        }

        .brandDarken {
            position: absolute;
            bottom: 0px;
            width: 50px;
            height: 100%;
            right: 20px;
        }
    }
}

.calendar-actions {
    display: none
}