html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.main.layout {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    height: 100%;
    width: 100%;
}
.main.header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    background-color: slategray;
    color: white;
}
.main.panorama {
    -ms-grid-row: 2;
    -ms-grid-column:1;
    background-color: lightslategray;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    overflow-x: scroll;
    overflow-y: hidden;
}