<div id="main_template">
    <div id="main">
        <div id="left" data-class="_left-width">Navigation</div>
        <div id="leftSplitter" data-bind="splitter: 'vertical'"></div>
        <div id="header">Header</div>
        <div id="headerSplitter" data-bind="splitter: 'horizontal'"></div>
        <div id="content1">Content 1</div>
        <!--
        <div id="content1">
            <div class="title">THIS IS CONTENT 1</div>
            <div class="minimize">_</div>
            <div class="restore">[]</div>
            <div class="close">X</div>
            <div class="content">Content 1</div>
        </div>
        <div id="content2">
            <div class="title">THIS IS CONTENT 2</div>
            <div class="minimize">_</div>
            <div class="restore">[]</div>
            <div class="close">X</div>
            <div class="content">Content 2</div>
        </div>
        -->
        <div id="footer">Footer</div>
    </div>
</div>
