<div id="main_template">
    <div id="main" data-class="main-columns">
        <div id="left" data-class="left-width">Navigation</div>
        <div id="leftSplitter">splitter</div>
        <div id="header">Header</div>
        <!--
        <div id="content1">Content 1</div>
        -->
        <div id="content1">
            <div id="content1-minimize">_</div>
            <div id="content1-restore">[]</div>
            <div id="content1-close">X</div>
            <div id="content1-content">Content 1</div>
        </div>
        <div id="content2">Content 2</div>
        <div id="footer">Footer</div>
    </div>
</div>
