<div id="main_panorama_page1_page1_template">
    <h1>This is page 1 of page 1</h1>
    <div style="width: 800px; color: white">Lorem ipsum dolor sit amet, no vix posse invidunt maiestatis. Quo ad dolorum detracto delicata, an nemore principes mea. Te ipsum inermis vis, eam gloriatur efficiantur no. Quod malorum suavitate sea te. At idque singulis pri, an quando inimicus mediocrem pri.</div>
</div>

<div id="main_panorama_page1_page2_template">
    <h1>This is page 2 of page 1</h1>
</div>

<div id="main_panorama_page2_page1_template">
    <h2>This is page 1 of page 2</h2>
</div>

