.page.panorama .page-header .page-header-content
{
    height: 60px;
    min-height: 60px;
}

.page.panorama.fixed-header .page-region 
{
  padding-top: 50px;
}

.page.panorama.fixed-header .page-region-content
{
  padding-top: 0px;
}

.page.panorama.fixed-header .back-button
{
    top: 30px !important;
}

.panorama .title
{
    text-transform:uppercase;
}

.panorama .subtitle
{
    text-transform:uppercase;
    font-weight: bold;
}

#panorama-message
{
    display: none;
}

.panorama-message
{
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 5px;
    color: #fff;
    min-height: 50px;
    background-color: #2d89ef !important;
}

.panorama-message-box
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 800px;
}

.panorama-message-title h3
{
    font-weight: bold;
}

.panorama-message-content
{
    text-align: left;
}