<div id="main_template">
    <div class="main layout bg-dark">
        <div class="main header">
            <h1 class="fg-white">Showcase</h1>
        </div>
        <div class="main panorama" data-class="main-panorama"></div>
    </div>
</div>

<div id="red_template">
    <!--<div class="main home" data-class="main-home"></div>-->
    <div><div class="calendar" data-class="main-calendar"></div></div>
</div>

<div id="showcase_tile_template">
    <div data-class="showcase-tile">
        <div class="header">
            <label>Trading Balance Sheet (CDE) - Including Fed Trade</label>
        </div>
        <div class="actual">
            <label>Actual</label>
            <div>105.94 Bn</div>
        </div>
        <div class="limit">
            <label>Limit</label>
            <div>109.64 Bn</div>
        </div>
        <div class="capacity">
            <label>Capacity</label>
            <div>3.70 Bn</div>
        </div>
        <div class="percentage">
            <label>Percentage</label>
            <div>96.6 %</div>
        </div>
    </div>
</div>